<div class="d-flex container justify-content-center ">
  <div class="row">
    <div class="col" style="margin: 32px;">


      <article class="my_article services" style="width: 500px;">
        <h1 class="dashboard_subtitles services">New Services</h1>
        <div class = "my_inner_container" style="padding: 50px;">


          <%= simple_form_for(@service) do |f| %>
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

          <div class="d-flex justify-content-between">
            <div class="form-inputs form-changes">
              <%= f.input :title %>
            </div>
            <div class="form-inputs form-changes">

              <%= f.input :price %>
            </div>
          </div>

          <div class="form-inputs form-changes">
            <%= f.input :description, class: 'height: 350px;' %>
          </div>

          <%#= f.input :photo, as: :file %>

          <div class="form-actions container">
            <div class="d-flex justify-content-end">

              <%= link_to dashboard_path do%>
              <p class="btn btn-outline-button m-3">Back to Profile</p>
              <% end %>
              <%= f.submit class: 'btn btn-outline-button my-3' %>

            </div>
            <% end %>
          </div>


        </div>
      </article>


    </div>
  </div>
</div>


