<div class="dashboard_container">
<section class="articles">
  <div class='button -regular center'> <%= link_to 'new service', new_service_path(current_user.id)%></div>

  <article class="my_article bookings">
    <h1 class="dashboard_subtitles bookings">Bookings</h1>
    <% @bookings.each do |booking| %>
          <div class="card-product">
          <%= cl_image_tag booking.service.user.photo.key, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="card-product-infos">
             <ul>
             <%  if  booking.user == current_user %>
              <div class="dashboard_link">
               <li class="dashboard_booking_details my_bookings"><h2 class=""><%= booking.service.user.username %></h2></li>
                <li class="dashboard_booking_details my_bookings"><p class=""><%= booking.date %></p></li>
                 <li class="dashboard_booking_details my_bookings"><p class=""><%= booking.service.title %></p></li>
              </div>
               <div class=" delete delete3">
              <%= link_to booking_path(booking), method: :delete do %>
                <div class="font-awesome-trash"><i class="fas fa-trash" aria-hidden="true"></i></div>
              <% end %>
             <% end %>
             </ul>
          </div>
        </div>
    <% end %>
  </article>
  <article class="my_article services">
    <h1 class="dashboard_subtitles services">Services</h1>
    <div class = "my_inner_container ">
    <% @services.each do |service| %>
          <div class="service_heading">
          <div><%= service.title %></div>
          <div><%= service.price %>$</div>
          <div class="delete">
          <%= link_to service_path(service), method: :delete do %>
            <div class="font-awesome-trash"><i class="fas fa-trash" aria-hidden="true"></i></div>
          <% end %>
        </div>
          </div>
          <div class="card-product my_bookings_card">
          <div class="card-product-infos">
             <ul>
             <% service.bookings.each do |job| %>
              <a class="dashboard_link" href="#">
               <div class="product-info">
                <li class="dashboard_booking_details">
                  <div class="all_details">
                  <%= cl_image_tag job.user.photo.key, 'aria-haspopup': true, 'aria-expanded': false %>
                  <div class="detail_text">
                  <%= job.date %>
                   <p class="">
                 <div class="dashboard_date">  <%= job.user.username %>
                 </div>
                 </p>
               </div>
              </div>
              </li>
              </a>
              <div class="delete2">
              <%= link_to booking_path(job), method: :delete do %>
                <div class="font-awesome-trash"><i class="fas fa-trash" aria-hidden="true"></i></div>
              <% end %>
               </div>
             </div>
             <% end %>
             </ul>
        </div>
      </div>
    <% end %>
  </article>
  </section>
</div>
